<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/system}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Edit Area Page</title>
</head>
<body>

<section layout:fragment="content">
    <h1>Edit Area</h1>
    <form th:action="@{/system/area/update/{id}(id=${area.id})}" method="post" th:object="${area}">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p><input type="submit" value="Update"/></p>
    </form>
    <a href="/system/area/index">Back to List</a>
</section>

</body>
</html>
