<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/customer}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Home Page</title>
</head>

<body>

<section layout:fragment="content">
    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="booking_table d_flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h6>Book Your Table Now for an Unforgettable Dining Experience.
                    </h6>
                    <h2>Fast and convenient</h2>
                    <p>Connecting people to people
                        <br>
                        We look forward to serving you!
                    </p>
                    <a href="#" class="btn theme_btn button_hover">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!--================Banner Area =================-->
    <div class="container">
            <div class="search-container">
                <div class="row">
                    <form th:action="@{/customer/home}">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" style="width: 1000px;">
                            <div class="input-group">
                                <input type="search" placeholder="City, Restaurant, Type, ...."
                                       aria-describedby="button-addon2" class="form-control border-0 bg-light" name="keyword">
                                <div class="input-group-prepend">
                                    <button id="button-addon2" type="submit" class="btn btn-link text-warning">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6" style="margin-bottom: 40px" th:each="dinnerTable : ${dinnerTables}">
                <div class="card">
                    <img class="card-img-top" th:if="${dinnerTable.imagesDto.size() > 0}"
                         th:src="@{/uploads/dinnerTables/{imageName}(imageName=${dinnerTable.imagesDto[0].path})}"
                         alt="Table Image">
                    <div class="card-body">
                        <div style="
    display: flex;
    justify-content: space-between;
">
                            <div class="card-title" style="display:flex;font-weight:600">
                                <p class="card-text" th:text="${#numbers.formatDecimal(dinnerTable.dinnerTableTypeDto.price, 0, 'COMMA', 0, 'POINT')}"></p>
                                <small>vnd/table</small></div>
                            <div class="star-rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2"
                            th:text="${dinnerTable.quantity + ' dining tables left'}"
                            th:style="${dinnerTable.quantity lt 3 ? 'color: #dc3545' : ''}">
                        </h6>


                        <a th:href="@{/customer/dinnerTable-details/{id}(id=${dinnerTable.id})}" class="btn theme_btn button_hover">Read more</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</section>

</body>
</html>
