<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/system}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Edit Role Table Page</title>
    <!-- Bootstrap CSS goes here -->
</head>
<body>

<section layout:fragment="content" class="container">
    <br>
    <h2 style="text-align: center;">
        <a href="/staff/dinnerTableType/index" class="btn btn-secondary" style="float: left; ">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;Back to List</a>
        Create Dinner table type Table</h2>
    <br>
    <div class="bg-light rounded h-100 p-4">
        <form th:action="@{/staff/dinnerTableType/edit/{id}(id=${dinnerTableTypeDto.id})}" enctype="multipart/form-data" method="post" th:object="${dinnerTableTypeDto}">
            <div class="mb-3">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" th:field="*{type}">
                 <div class="form-text">
                     <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red;"></span>
                 </div>
                
            </div>
            <div class="mb-3">
                <label class="form-label">Capacity</label>
                <input type="number" class="form-control" th:field="*{capacity}">
                <div class="form-text">
                    <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" style="color: red;"></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" th:field="*{price}" id="price">
                <div class="form-text">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></span>
                </div>
            </div>
            <div class="mb-3">
						<label for="exampleInputEmail1" class="form-label"
							style="font-weight: 600; color: black;">Image</label>
						<input type="file" class="form-control" aria-describedby="emailHelp"  name="file"
							>
							 <label>Your existing images :</label>
                <div class="scroll-container">
                    
                        <img th:src="@{/categories/image-dinnerTable/{imageName}(imageName=${dinnerTableTypeDto.image})}" style="width:100px;height:100px;"/>
                   
                </div>

					</div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" th:field="*{description}" id="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</section>
</body>
</html>
