<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/system}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Index Dinner Table</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		div.scroll-container {
			overflow: auto;
			white-space: nowrap;
			width: 200px;
		}

		div.scroll-container img {
			border-left: 5px;
			width: 200px;
			height: 150px;
		}
	</style>
</head>

<body>

	<section layout:fragment="content">

		<br>
		<h2 style="text-align: center;">
			<a href="/partner/restaurant/index" class="btn btn-secondary" style="float: left; "><i
					class="fa-solid fa-house"></i> Home</a>

			Invoice Dinner Tables
		</h2>
		<br>
		<table id="myTable" class="display">
			<thead>
				<tr>
					<th>Name</th>
					<th>Quanity</th>
					<th>Restaurant</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i : ${data}">
					<td th:text="${i.status}"></td>
					<td th:text="${i.quantity}"></td>

					<td th:text="${i.restaurant.name}"></td>
					<td>
						<div style="">
							<a th:href="@{/partner/dinner-table/invoice/{id}(id=${i.id})}" class="btn btn-info">Details Invoice</a>
	
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</section>


</body>

</html>