<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/system}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Index Page</title>
</head>

<body>

	<section layout:fragment="content">

		<!-- Sale & Revenue Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-home fa-2x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Today Restaurant</p>
							<h6 class="mb-0" th:text="${totalRestaurant}"></h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-cutlery fa-2x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Total Dinner Table</p>
							<h6 class="mb-0" th:text="${totalDinnerTable}"></h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-check-square fa-2x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Total Finished</p>
							<h6 class="mb-0" th:text="${totalFinished}"></h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-line-chart fa-2x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Total Reservation</p>
							<h6 class="mb-0" th:text="${totalReservation}"></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Sale & Revenue End -->

		<!-- Sales Chart Start -->
		<div class="container-fluid pt-4 px-4">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript" th:inline="javascript">
				google.charts.load('current', {'packages': ['corechart']});
				google.charts.setOnLoadCallback(drawChart);

				function drawChart() {

					var data = new google.visualization.DataTable();
					data.addColumn("string", "Date");
					data.addColumn("number", "Bookinged");
					data.addColumn("number", "Finished");
					data.addColumn("number", "Canceled");
					data.addColumn("number", "DinnerTable");
					data.addColumn("number", "Customer");
//					data.addColumn('string', 'Topping');
//					data.addColumn('number', 'Slices');
					data.addRows([
						/*[# th:each="row : ${chartData}"]*/
						[[${row}]],
						/*[/]*/

					]);

					var options = {
						title: 'Statictical',
						legend: {position: 'bottom'}
					};

					var chart = new google.visualization.LineChart(document.getElementById('chartLine'));

					chart.draw(data, options);
				}
			</script>
			<div class="container">
				<div id="chartLine" style="width: 1000px; height: 500px"></div>
			
			</div>
		</div>
		<!-- Sales Chart End -->






	</section>
</body>

</html>